<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1>SDG Sports</h1>
            <h6 class="lead">&hearts; For the students of Suncoast Developers Guild</h6>
        </div>
        <div class="col-md-3">
            <img src="~/Images/sports.jpg" class="img-circle" height="150" width="150">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/football.jpg">
            <div class="caption text-center">
                <h3>Football</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/baseball.jpg">
            <div class="caption text-center">
                <h3>Baseball</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/basketball.jpg">
            <div class="caption text-center">
                <h3>Basketball</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/quidditch.jpg">
            <div class="caption text-center">
                <h3>Quidditch</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="bg-warning text-warning">We've added some brand new features in version 2.0!<a style="font-size: small" href="#">Learn More</a></h3>
        </div>
    </div>
    <div class="row  bg-info center-block">
        <div class="col-md-8">
            <h3 style="font-size:medium"><span class="glyphicon glyphicon-user"></span> Please <a class="text-muted" href="#"><strong>log in</strong></a> to edit </h3>
        </div>
        <div class="col-md-4 ">
            <button type="submit" class="btn btn-primary btn-md pull-right navbar-btn align-middle">FaceBook</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Teams
            <button class="btn btn-default btn-xs pull-right"> <span class="badge">317</span> Teams </button>
        </div>

        <ul class="list-group">
            <li class="list-group-item bg-info">
                <img src="~/Images/dartboard.png" height="50" width="50" class="img-rounded img-thumbnail" /> <b>Tampa Dart Dynamos</b>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                <button class="btn btn-primary btn-xs pull-right" type="button"> <span class="badge">8</span> Players</button>
            </li>
            <li class="list-group-item">
                <img src="~/Images/pingpong.jpg" height="50" width="50" class="img-rounded" /> <b>St Pete Ping Pong Power House</b>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                <button class="btn btn-primary btn-xs pull-right" type="button"> <span class="badge">6</span> Players</button>
            </li>
            <li class="list-group-item">
                <img src="~/Images/golf.jpg" height="50" width="50" class="img-rounded" /> <b>Orlando Golf Gang</b>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                <button class="btn btn-primary btn-xs pull-right " type="button"> <span class="badge">6</span> Players</button>
            </li>
        </ul>
        <section class="panel-footer">
            <nav>
                <section class="row">
                    <section class="col-xs-3"></section>
                    <ul class="pagination">
                        <li><span class="glyphicon glyphicon-backward"></span></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><span class="glyphicon glyphicon-forward"></span></li>
                    </ul>
                </section>

            </nav>
        </section>
    </div>
    <br />
    <section class="panel panel-primary">
        <section class="panel-heading">
            <h4>Games</h4>

        </section>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td>1</td>
                        <td>Tampa Dart Dynamos</td>
                        <td>Buffalo BullsEyes</td>
                        <td>20-17</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>St Pete Ping Pong Power House</td>
                        <td>Philly Paddlers</td>
                        <td>18-12</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Orlando Golf Gang</td>
                        <td>Portland Putters</td>
                        <td>2-1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
